<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Roy Editor"
            extensions="roy"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="net.devkat.roy.editors.RoyEditor"
            id="net.devkat.roy.editors.RoyEditor">
      </editor>
   </extension>

</plugin>
